@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Questrial|Muli:300,400,300italic,400italic");
@import "Typography.css";


<!-- ---- -->
.container p, .container blockquote p, .container li 
  {
    font-size: 90%;
  }

<!-- ---- -->

b
  {
    font-weight: 1000;
  }

p > img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 4em;
    margin-bottom: 4em;
  }

body
  {
    font-size: 170%;
  }

h1, h2, h3, h4, h5, h6
  {
    font-family: Muli, sans-serif;
  }

code
  {
    font-size: 90%;
  }

h2 code, h3 code
  {
    xcolor: black;
    font-family: "Andale Mono", "Courier New", monospace;
    font-size: 90%
  }

div.navbar-inner > div.container
  {
    background-color: #red;
    width: 1170px;
  }

.breadcrumb
  {
    font-size: 70% !important;;
  }

.container #banner h2
  {
    font-size: 150%;
    padding-bottom: 0;
  }

.container #bodyColumn h1
  {
    font-size: 160%;
  }


.container #bodyColumn h2
  {
    margin-top: 2em;
    font-size: 130%;
    padding-bottom: 0;
  }


.container #bodyColumn h3
  {
    margin-top: 2em;
    font-size: 110%;
  }


.container #bodyColumn h4
  {
    font-size: 100%;
  }
